
ul.my-turn-page, ul.my-turn-page li{
  padding: 0;
  margin: 0;
}

ul.my-turn-page li {
  list-style: none;
  float: left;
  padding: 10px;
  border: 1px solid #ddd;
  color: #666;
  margin-right: 10px;
  cursor: pointer;
}
ul.my-turn-page span {
  float: left;
  margin-right: 10px;
  padding: 10px;
  /* vertical-align: middle; */
}
ul.my-turn-page li.current-page {
  background-color: #428bca;
  color: #fff;
}
